build/
/data/
frontend-prototype/dist/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
*.iml
*.ipr
*.iws
*.sc
logs/*
.idea/*
*~
node_modules
public/swagger.json
ensime.sbt